<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div class="p-0">
        <div class="p-3" style="width:100%;background:red;">
            <p class="text-center text-white" style="font-size:140%; font-weight:bold">Student Management</p>
        </div>

    </div>
    @RenderBody()
</body>
</html>
